.skin-blue .main-header .logo {
    background-color: #003f00;
}

.skin-blue .main-header .navbar {
    background-color: #006300;;
}

.skin-blue .main-sidebar {
    background-color: #101820FF;
}

.skin-blue .sidebar-menu>li>.treeview-menu { {
    background: #10182000;
}